{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Bootstrap Core CSS -->
	<link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{% static 'css/estilos.css' %}" rel="stylesheet">
	<title>Landing</title>
	<link rel="icon" href="{% static 'img/icon1.png' %}" type="image/x-icon"> 
</head>

<body class="bg-light d-flex">
	<div class="container-main container-fluid">
		<nav class=" navbg navbar navbar-expand-lg navbar-dark fixed-top">
			<a class="navbar-brand" href="{%url 'login'%}">
				<img src="{% static 'img/icon1.png' %}" class="img-fluid" width="30" height="30" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item ">
							<a class="nav-link text-white" href="{%url 'login'%}">Iniciar sesión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="{%url 'register'%}">Registrarse</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="landingb1 jumbotron jumbotron-fluid mt-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="display-4 mb-3 text-center">Informatec</h1>
						<div class="text-center">
							<img src="{% static 'img/infotec.png' %}" class="img-fluid" width="100" height="100" alt="">
						</div>
						<p class="lead mt-1 text-center">El sofware que te permitirá tener una valoración totalmente reservada, segura y al instate sobre tu ets.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="landingb2 jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1>¿Posee una cuenta?</h1>
						<p class="lead">En caso de tener una cuenta activa, inicia sesión.</p>
						<div class="text-right">
							<a class="btn btn-outline-dark btn-lg" href="{%url 'login'%}" role="button">Iniciar Sesión</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="landingb3 jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1>¿No tienes cuenta?</h1>
						<p class="lead">En caso de no tener una cuenta te invitamos a que te registres.</p>
						<div class="text-right">
							<a class="btn btn-outline-dark btn-lg" href="{%url 'register'%}" role="button">Registrarse</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
